

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  padding: 30px;
}

textarea {
  margin: 10px 0;
  padding: 10px;
  width: 80%;
  max-width: 500px; /* Optional: limit width */
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  width: 80%; /* Ensures button is aligned with textarea */
  max-width: 500px; /* Matches textarea width */
  text-align: center;
}

.xml-response {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.xml-response textarea {
  width: 80%;
  max-width: 500px;
}

.xml-response button {
  width: 80%;
  max-width: 500px;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
