.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

textarea {
  margin: 10px 0;
  padding: 10px;
  width: 80%;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.xml-response {
  margin-top: 20px;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
